@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    --primary-color: #fff;
    --secondary-color: #000;
}

html.dark {
    --primary-color: #1d1d1d;
    --secondary-color: #7fffe1;
}

body {
    @apply overflow-y-scroll;
    @apply text-secondary-color;
    @apply bg-primary-color;
}
body * {
    @apply transition-colors duration-200;
}


/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
    width: 1em;
}
/* Track */
::-webkit-scrollbar-track {
    background: var(--primary-color);
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--secondary-color);
}
/* PAGE LOADING PROGRESS BAR */
::-webkit-progress-value {
    background-color: var(--secondary-color);
}