@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    /* update tailwind.config.ts when add/remove colors */
    :root {
        --primaryColor: #0ea5e9;
        --primaryColorMuted: #0e91ce;
    }
    html {
        --color-1: #fff; /*background*/
        --color-2: #000; /*primary color*/
        --color-3: #562a2a; /*button*/
        --color-4: #170d53; /* red error */
        --color-5: #0d5641; /* text */

        --bgColor1: #e9e9e9;
        --bgColor2: #c8c8c8;
        --textColor1: #1b1b1b;
    }
    html.dark {
        --color-1: #101010;
        --color-2: #7fffe1;
        --color-3: #353535;
        --color-4: #d75252;
        --color-5: #e0e0e0;

        --bgColor1: #101010;
        --bgColor2: #363636;
        --textColor1: #e0e0e0;
    }

    body {
        @apply overflow-y-scroll bg-bgColor1 text-textColor1 transition-colors;
    }

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

/* CUSTOM CLASSES */
.btn {
    @apply rounded-lg bg-color-3 px-4 py-2 font-bold text-color-2 transition-colors duration-300 enabled:hover:bg-color-2 enabled:hover:text-color-3;
}

.auth-form {
    @apply absolute top-1/2 flex -translate-y-1/2 flex-col items-center p-2 text-left transition-transform duration-200;
}
.auth-form input {
    @apply mb-2 w-56;
}
.auth-form .text-input {
    @apply bg-color-3 p-2;
}

/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
    width: 1em;
}
/* Track */
::-webkit-scrollbar-track {
    background: var(--color-1);
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--color-2);
}
/* PAGE LOADING PROGRESS BAR */
::-webkit-progress-value {
    background-color: var(--color-2);
}
